
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

/****************** Main Header ******************/

.box1 {
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
}
.mainLogo1 {
    width: 50%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}
.mainLogo2 {
    width: 100%;
    height: 7vh;
}
.search0 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0%;
    box-sizing: border-box;
    align-items: center;
}
.search1 {
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 85%;
    height: 7vh;
 }
.search2 {
    border: 0px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 15%;
    height: 7vh;
}
.title1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title1a {
    color: #03264C;
}
.nav1 { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav2 {
    background-color: #0044AA;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 5px;
}
.nav2:hover {
    background-color: #0022AA;
    cursor: pointer;
}
.navStyle-1 {
    display: none;
}
ul#navStyle-2 li {
    color: #03264C;
    list-style-type: none;
}
ul#navStyle-3 li {
    color: #03264C;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #03264C;
}


/****************** Banner ******************/

.box2 {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}
.banner {
    width: 100%;
}


/****************** Main Index ******************/

.mainSection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.bodyCentral {
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.title2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.title2a {
    color: #666;
    font-size: 24px;
    vertical-align: middle;
    line-height: normal;
    padding: 0%;
    margin: 20px 0px 20px 0px;
    padding-left: 20px;
    width: 90%;
    box-sizing: border-box;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: auto;
    margin: 10px 20px 10px 20px; 
    box-sizing: border-box; 
}
.articlesUp {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: auto;
    margin: 0px 20px 10px 20px; 
    box-sizing: border-box; 
}
.articlesDown {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: auto;
    margin: 10px 20px 0px 20px; 
    box-sizing: border-box; 
}
.imgProdBox {
    width: 100%;
}
.imgProduct {
    width: 100%;
}
.descriptionBox {
    width: 100%;
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    position: relative;
}
.greenTruck {
    display: flex;
    flex-wrap: wrap;
    color:#39b54a;
    position: absolute;
    left: 84%;
    bottom: 74%;
    border: #B3C2F2 solid 1px;
    justify-content: center;
    align-content: center;
    padding: 7px;
    border-radius: 100%;
}
.precios {
    font-size: 20px;
    flex-grow: 0.3;
    font-weight: bold;
}
.sale {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
    align-self: center;
    justify-content: flex-start;
}
.description {
    width: 100%;
}
.description-1 {
    color: #666;
    font-size: 16px;
}

/****************** Main Register ******************/

.mainRegister {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
}
.registerBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}
.loginBox-1 {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
    flex-grow: 1;
}
.radioBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.titleRegister {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.loginBox-2 {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.option { 
    padding: 0px 15px;
    box-sizing: border-box;
}
.checkBx {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.checkBx-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.loginBox-3 {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.resetButton {
    color: white;
    background-color: #AA0044;
    width: 100%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.resetButton:hover {
    background-color: #CC1155;
}

/****************** Main Login ******************/

.mainLogin {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
}
.formBox {
    display: flex;
    flex-wrap: wrap;
}
.loginBox {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
    flex-grow: 1;
}
.loginButton {
    color: white;
    background-color: #0044AA;
    width: 100%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.loginButton:hover {
    background-color: #0022AA;
}


/****************** Footer ******************/

.footerBox {
    width: 100%;
    padding: 10px 5% 10px 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.footerBox-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.footerArticles {
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.colorBlue {
    width: 100%;
    color: #1259c3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.msg-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.msg-2 {
    width: 100%;
    color: #666;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}
.piePagina {
    font-size: 12px;
}


/*************** Media Query ******************/

@media (min-width: 768px){
    .box1 {
        background-color: blue;
        padding: 2%;
    }
    .mainLogo1 {
        width: 23%;
        padding: 0%;
    }
    .mainLogo2 {
        height: 5vh;
    }
    .search0 {
        width: 36%;
    }
    .search1 {
        height: 5vh;
     }
    .search2 {
        height: 5vh;
    }
    .title1 {
        width: 35%;
        margin: 0% 3%;
        align-items: center;
    }
    .nav1 { 
        display: none;
    }
    .navStyle-1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    ul#navStyle-2 {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 0px 60px 0px 10px;
        margin-bottom: 5px;
    }
    ul#navStyle-3 {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 0px 10px 0px 30px;
    }
   }

@media (min-width: 1024px){
    .box1 {
        background-color: green;
    }
    .mainLogo1 {
        align-items: flex-start;
    }
    .mainLogo2 {
        height: 8vh;
    }
    .search0 {
        width: 44%;
        padding: 1% 0% 3% 1%;
    }
    .title1 {
        width: 27%;
        margin: 0% 3%;
        justify-content: flex-end;
    }
    .title1a {
        margin-block-start: 0px;
    }
    ul#navStyle-2 {
        padding: 0px 180px 0px 10px;
    }
    ul#navStyle-3 {
        padding: 0px 10px 0px 150px;
    }
    .footerBox-2 {
        flex-direction: row;
    }
    .footerArticles {
        width: 33%;
    }
}