
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/****************** Variable ******************/

:root {
    --yellow: #EAC926;
    --dark-gray: #666;
    --gray: #ebebeb;
    --dark-blue: #03264C;
    --blue-light: #0044AA;
    --blue: #0022AA; 
    --green: #39b54a;
    --vermilion: #CC1155;
    --dark-vermilion: #AA0044;
}

/****************** Main Header ******************/

.box1 {
    background-color: var(--yellow);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
}
.mainLogo1 {
    width: 50%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}
.mainLogo2 {
    width: 100%;
    height: 7vh;
}
.search0 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0%;
    box-sizing: border-box;
    align-items: center;
}
.search1 {
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 85%;
    height: 7vh;
 }
.search2 {
    border: 0px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 15%;
    height: 7vh;
}
.title1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title1a {
    color: var(--dark-blue);
}
.nav1 { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav2 {
    background-color: var(--blue-light);
    width: 50px;
    height: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.nav2 > i {
    vertical-align: -6px;
}
.nav2:hover {
    background-color: var(--blue);
    cursor: pointer;
}
.navStyle-1 {
    display: none;
}
ul#navStyle-2 li {
    color: var(--dark-blue);
    list-style-type: none;
}
ul#navStyle-3 li {
    color: var(--dark-blue);
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--dark-blue);
}


/****************** Banner ******************/

.box2 {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}
.banner {
    width: 100%;
}


/****************** Main Index ******************/

.mainSection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.bodyCentral {
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.title2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.title2a {
    color: var(--dark-gray);
    font-size: 24px;
    vertical-align: middle;
    line-height: normal;
    padding: 0%;
    margin: 20px 0px 10px 0px;
    padding-left: 20px;
    width: 90%;
    box-sizing: border-box;
}
.title2b {
    color: var(--dark-gray);
    font-size: 24px;
    vertical-align: middle;
    line-height: normal;
    padding: 0%;
    margin: 10px 0px 10px 0px;
    padding-left: 20px;
    width: 90%;
    box-sizing: border-box;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: 76vh;
    margin: 10px 20px 10px 20px; 
    padding: 0px 20px;
    box-sizing: border-box; 
}
.imgProdBox {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.imgProduct {
    width: 100%;
    height: 50vh;
}
.descriptionBox {
    width: 100%;
    height: 10vh;
    border-top: 1px solid var(--gray);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.greenTruck > i {
    display: flex;
    flex-wrap: wrap;
    color:var(--green);
    position: absolute;
    font-size: 160%;
    left: 84%;
    top: -3vh;
    border: #B3C2F2 solid 3px;
    justify-content: center;
    align-content: center;
    padding: 7px;
    border-radius: 100%;
}
.precios {
    font-size: 20px;
    flex-grow: 0.3;
    font-weight: bold;
    margin: 3vh 0vh;
    align-self: center;
    box-sizing: border-box;
}
.sale {
    font-size: 16px;
    color: var(--green);
    flex-grow: 0.7;
    align-self: center;
    margin: 3vh 0vh;
    justify-content: flex-start;
    box-sizing: border-box;
}
.description {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.description-1 {
    color: var(--dark-gray);
    font-size: 16px;
}

/****************** Main Register ******************/

.mainRegister {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
}
.registerBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}
.loginBox-1 {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
    flex-grow: 1;
}
.radioBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.titleRegister {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.loginBox-2 {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.option { 
    padding: 0px 15px;
    box-sizing: border-box;
}
.checkBx {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.checkBx-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.loginBox-3 {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.resetButton {
    color: white;
    background-color: var(--dark-vermilion);
    width: 100%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.resetButton:hover {
    background-color: var(--vermilion);
}

/****************** Main Login ******************/

.mainLogin {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
}
.formBox {
    display: flex;
    flex-wrap: wrap;
}
.loginBox {
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
    flex-grow: 1;
}
.loginButton {
    color: white;
    background-color:var(--blue-light);
    width: 100%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 0px;
}
.loginButton:hover {
    background-color: var(--blue);
}


/****************** Footer ******************/

.footerBox {
    width: 100%;
    padding: 10px 5% 10px 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.footerBox-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.footerArticles {
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.colorBlue {
    width: 100%;
    color: #1259c3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.msg-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.msg-2 {
    width: 100%;
    color: var(--dark-gray);
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}
.piePagina {
    font-size: 12px;
}


/*************** Media Query ******************/

@media (min-width: 768px){
    .box1 {
        background-color: blue;
        padding: 2%;
    }
    .mainLogo1 {
        width: 23%;
        padding: 0%;
    }
    .mainLogo2 {
        height: 5vh;
    }
    .search0 {
        width: 36%;
    }
    .search1 {
        height: 5vh;
     }
    .search2 {
        height: 5vh;
    }
    .title1 {
        width: 35%;
        margin: 0% 3%;
        align-items: center;
    }
    .nav1 { 
        display: none;
    }
    .navStyle-1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    ul#navStyle-2 {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 0px 60px 0px 10px;
        margin-bottom: 5px;
    }
    ul#navStyle-3 {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 0px 10px 0px 30px;
    }
    .bodyCentral {
        flex-direction: row;
        justify-content: space-around;
    }
    .articles {
        width: 44%;
        height: 75vh; 
    }
    .imgProdBox {
        height: 45vh;
    }
    .imgProduct {
        height: 48vh;
    }
    .greenTruck > i {
        font-size: 140%;
    }
   }

@media (min-width: 1024px){
    .box1 {
        background-color: green;
    }
    .mainLogo1 {
        align-items: flex-start;
    }
    .mainLogo2 {
        height: 8vh;
    }
    .search0 {
        width: 44%;
        padding: 1% 0% 3% 1%;
    }
    .title1 {
        width: 27%;
        margin: 0% 3%;
        justify-content: flex-end;
    }
    .title1a {
        margin-block-start: 0px;
    }
    ul#navStyle-2 {
        padding: 0px 180px 0px 10px;
    }
    ul#navStyle-3 {
        padding: 0px 10px 0px 150px;
    }
    .bodyCentral {
        padding-bottom: 100px;
    }
    .articles {
        width: 21%;
        height: 51vh; 
        transition-property: height;
        transition-duration: 0.1s; 
    }
    .articles:hover {
        height: 65vh;
    }
    .imgProdBox {
        height: 40vh;
    }
    .imgProduct {
        height: 35vh;
    }
    .greenTruck > i {
        font-size: 110%;
    }
    .description {
        display: none;   
    }
    .articles:hover .description {
        display: block;
    }

    
    .footerBox-2 {
        flex-direction: row;
    }
    .footerArticles {
        width: 33%;
    }
}