<footer class="footerBox"> <!-- Footer -->
    <section class="footerBox-2">
        <article class="footerArticles">
            <div class="colorBlue"><i class="fa-solid fa-credit-card"></i></div>
            <h5 class="msg-1">Pagá con tarjeta o en efectivo</h5>
            <p class="msg-2">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
            
        <article class="footerArticles">
            <div class="colorBlue"><i class="fa-solid fa-gift"></i></div>
            <h5 class="msg-1">Envío gratis desde los $ 2.500</h5>
            <p class="msg-2">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
            
        <article class="footerArticles">
            <div class="colorBlue"><i class="fa-solid fa-user-shield"></i></div>
            <h5 class="msg-1">Seguridad, de principio a fin</h5>
            <p class="msg-2">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</p>
        </article>
    </section>    
        <div class="piePagina">Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
</footer>