<header class="box1"> <!-- Main Header -->
    <div class="mainLogo1">
        <a href="/index"><img class="mainLogo2" src="/imagenes/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
    </div>
    <div class="search0">
            <input class="search1" type="search" name="Buscar" id="Buscar" placeholder="Buscar productos, marcas y más.">   
            <button class="search2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>  
    </div>
    <div class="title1">    
        <h5 class="title1a"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h5>
    </div>
    <div class="nav1">
    <div class="nav2"><i class="fas fa-bars"></i></div>
    </div>
        <nav class="navStyle-1">    
            <ul id="navStyle-2">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul id="navStyle-3">
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a> <i class="fa-solid fa-bag-shopping"></i></li>
            </ul>
        </nav>
</header>