<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/head")%>

<body> 

    <%-include("./partials/header")%>

    <section class="box2"> <!-- Banner -->
        <img class="banner" src="/imagenes/img-home-banner.jpg" alt="img-home-banner">
    </section>
    <main class="mainSection">
        <div class="title2">
            <h3 class="title2a">Basado en tu última visita</h3>
        </div>
        <section class="bodyCentral"> <!-- Main Index -->
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct"  src="/imagenes/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$6.770</p>
                    <p class="sale">40% OFF</p>
                    <div class="description">
                        <h4 class="description-1">Cafetera Moulinex</h4>
                    </div>
                </div>    
            </article>
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct" src="/imagenes/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$230.000</p>
                    <p class="sale">20% OFF</p>
                    <div class="description">
                        <h4 class="description-1">Macbook Pro 2019</h4>
                    </div>
                </div>            
            </article>
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct" src="/imagenes/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$70.500</p>
                    <p class="sale">15% OFF</p>
                    <div class="description">
                        <h4 class="description-1">Teléfono Samsung Galaxy S10</h4>
                    </div>
                </div>            
            </article>
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct"  src="/imagenes/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$34.000</p>
                    <p class="sale">5% OFF</p>
                    <div class="description">
                        <h4 class="description-1">SmartTv Samsung 43"</h4>
                    </div>
                </div>            
            </article>
        </section>
        <div class="title2">
            <a name="sale"><h3 class="title2b">Ofertas</h3></a>
        </div>
        <section class="bodyCentral">
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct"  src="/imagenes/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$6.770</p>
                    <p class="sale">40% OFF</p>
                    <div class="description">
                        <h4 class="description-1">Cafetera Moulinex</h4>
                    </div>
                </div>            
            </article>
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct"  src="/imagenes/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$230.000</p>
                    <p class="sale">20% OFF</p>
                    <div class="description">
                        <h4 class="description-1">Macbook Pro 2019</h4>
                    </div>
                </div>            
            </article>
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct"  src="/imagenes/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$70.500</p>
                    <p class="sale">15% OFF</p>
                    <div class="description">
                        <h4 class="description-1">Teléfono Samsung Galaxy S10</h4>
                    </div>
                </div>            
            </article>
            <article class="articles">
                <div class="imgProdBox">
                    <img class="imgProduct"  src="/imagenes/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                </div>
                <div class="descriptionBox">
                    <p class="greenTruck"><i class="fa-solid fa-truck"></i></p>
                    <p class="precios">$34.000</p>
                    <p class="sale">5% OFF</p>
                    <div class="description">
                        <h4 class="description-1">SmartTv Samsung 43"</h4>
                    </div>
                </div>            
            </article>
        </section>
    </main> 

    <%-include("./partials/footer")%>  
    
</body>
</html>