<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <%-include("../partials/header")%>

    <main class="mainRegister">
      <!-- Main Register -->
      <form
        class="formBoxR"
        enctype="multipart/form-data"
        action="/products/okStore"
        method="post"
      >
        <div class="registerBox">
          <input class="loginBox-1" type="number" name="id" id="" hidden />
          <input
            class="loginBox-1"
            type="text"
            name="name"
            id=""
            placeholder="Nombre Producto"
          />
          <input
            class="loginBox-1"
            type="number"
            name="price"
            id=""
            placeholder="Precio Poducto"
          />
          <input
            class="loginBox-1"
            type="number"
            name="discount"
            id=""
            placeholder="Descuento"
          />
          <input
            class="loginBox-1"
            type="number"
            name="finalPrice"
            id=""
            placeholder="Precio Final"
          />
        </div>
        <div class="titleRegister">
          <h3>Foto Usuario</h3>
        </div>
        <div class="photoBox">
          <input class="loginBox-1" type="file" name="photo" id="" />
        </div>
        <div class="passBox">
          <input
            class="loginBox-1"
            type="text"
            name="detail"
            id=""
            placeholder="Detalle Producto"
          />
          <input
            class="loginBox-1"
            type="text"
            name="code"
            id=""
            placeholder="Codigo Producto"
            minlength="6"
          />
          <button class="loginButton" type="submit">Enviar</button>
          <button class="resetButton" type="reset">Borrar Datos</button>
        </div>
      </form>
    </main>

    <%-include("../partials/footer")%>
  </body>
</html>
