<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <%-include("../partials/header")%>

    <main class="mainLogin">
      <!-- Main Login -->
      <form class="formBox" action="/users/login" method="post">
        <input
          class="loginBox"
          type="email"
          name="email"
          id=""
          placeholder="Email Usuario"
        />
        <input
          class="loginBox"
          type="password"
          name="password"
          id=""
          placeholder="Contraseña"
          minlength="8"
        />
        <button class="loginButton" type="submit">Enviar</button>
      </form>
    </main>

    <%-include("../partials/footer")%>
  </body>
</html>
