<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <%-include("../partials/header")%>

    <main class="mainLogin">
      <!-- Main Login -->
      <form class="formBox" action="home.html" method="post">
        <input
          class="loginBox"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          minlength="8"
        />
        <input
          class="loginBox"
          type="text"
          name="name"
          id="name"
          placeholder="Nombre Usuario"
        />
        <button class="loginButton" type="submit">Enviar</button>
      </form>
    </main>

    <%-include("../partials/footer")%>
  </body>
</html>
