<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head")%>

  <body>
    <%-include("../partials/header")%>

    <main class="mainLogin">
      <!-- Main Login -->
      <h1>Ya estas Registrado, Felices de tenerte como cliente!</h1>
    </main>

    <%-include("../partials/footer")%>
  </body>
</html>
